NEXT_PUBLIC_PORT=8095
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_DESCRIPTION=

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

NEXT_GITHUB_ID=
NEXT_GITHUB_SECRET=

NEXT_GOOGLE_ID=
NEXT_GOOGLE_SECRET=
